parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isPost\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Checkout/GetConfig.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isXmlHttpRequest\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Checkout/GetConfig.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isPost\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Checkout/GetPaymentGateways.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isXmlHttpRequest\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Checkout/GetPaymentGateways.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isPost\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Quote/Create.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isXmlHttpRequest\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Quote/Create.php

		-
			message: "#^Call to an undefined method Magento\\\\Quote\\\\Api\\\\Data\\\\CartExtensionInterface\\:\\:__toArray\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Quote/Create.php

		-
			message: "#^Call to an undefined method Magento\\\\Quote\\\\Api\\\\Data\\\\CartInterface\\:\\:getAllVisibleItems\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Quote/Create.php

		-
			message: "#^Call to an undefined method Magento\\\\Quote\\\\Api\\\\Data\\\\CartInterface\\:\\:toArray\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Quote/Create.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isPost\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Quote/Deactivate.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\RequestInterface\\:\\:isXmlHttpRequest\\(\\)\\.$#"
			count: 1
			path: Controller/Digitalwallets/Quote/Deactivate.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\App\\\\Config\\\\ValueInterface\\:\\:load\\(\\)\\.$#"
			count: 1
			path: Model/Config/Backend/DigitalWallets/DeactivateQuotes.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_close expects CurlHandle, resource given\\.$#"
			count: 1
			path: Model/Http/Client/Command/Client/Curl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_errno expects CurlHandle, resource given\\.$#"
			count: 2
			path: Model/Http/Client/Command/Client/Curl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_error expects CurlHandle, resource given\\.$#"
			count: 2
			path: Model/Http/Client/Command/Client/Curl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_exec expects CurlHandle, resource given\\.$#"
			count: 2
			path: Model/Http/Client/Command/Client/Curl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_getinfo expects CurlHandle, resource given\\.$#"
			count: 2
			path: Model/Http/Client/Command/Client/Curl.php

		-
			message: "#^Property Magento\\\\Framework\\\\HTTP\\\\Client\\\\Curl\\:\\:\\$_ch \\(resource\\) does not accept \\(CurlHandle\\|false\\)\\.$#"
			count: 1
			path: Model/Http/Client/Command/Client/Curl.php

		-
			message: "#^Property Magento\\\\Framework\\\\HTTP\\\\Client\\\\Curl\\:\\:\\$_responseBody \\(string\\) does not accept bool\\|string\\.$#"
			count: 2
			path: Model/Http/Client/Command/Client/Curl.php

		-
			message: "#^Use service contracts to persist entities in favour of Magento\\\\Quote\\\\Model\\\\QuoteIdMask\\:\\:load\\(\\) method$#"
			count: 1
			path: Model/Order/GuestHydrateOrder.php

		-
			message: "#^Method Bold\\\\CheckoutPaymentBooster\\\\Model\\\\Payment\\\\Authorize\\:\\:execute\\(\\) should return array\\{data\\: array\\{transactions\\: array\\<array\\{transaction_id\\: string, tender_details\\: array\\{account\\: string, email\\: string\\}\\}\\>\\}\\} but returns array\\.$#"
			count: 1
			path: Model/Payment/Authorize.php

		-
			message: "#^Return type \\(void\\) of method Bold\\\\CheckoutPaymentBooster\\\\Model\\\\Payment\\\\Gateway\\\\Command\\\\CancelOrder\\:\\:execute\\(\\) should be compatible with return type \\(Magento\\\\Payment\\\\Gateway\\\\Command\\\\ResultInterface\\|null\\) of method Magento\\\\Payment\\\\Gateway\\\\CommandInterface\\:\\:execute\\(\\)$#"
			count: 1
			path: Model/Payment/Gateway/Command/CancelOrder.php

		-
			message: "#^Return type \\(void\\) of method Bold\\\\CheckoutPaymentBooster\\\\Model\\\\Payment\\\\Gateway\\\\Command\\\\CapturePayment\\:\\:execute\\(\\) should be compatible with return type \\(Magento\\\\Payment\\\\Gateway\\\\Command\\\\ResultInterface\\|null\\) of method Magento\\\\Payment\\\\Gateway\\\\CommandInterface\\:\\:execute\\(\\)$#"
			count: 1
			path: Model/Payment/Gateway/Command/CapturePayment.php

		-
			message: "#^Return type \\(void\\) of method Bold\\\\CheckoutPaymentBooster\\\\Model\\\\Payment\\\\Gateway\\\\Command\\\\RefundPayment\\:\\:execute\\(\\) should be compatible with return type \\(Magento\\\\Payment\\\\Gateway\\\\Command\\\\ResultInterface\\|null\\) of method Magento\\\\Payment\\\\Gateway\\\\CommandInterface\\:\\:execute\\(\\)$#"
			count: 1
			path: Model/Payment/Gateway/Command/RefundPayment.php

		-
			message: "#^Return type \\(void\\) of method Bold\\\\CheckoutPaymentBooster\\\\Model\\\\Payment\\\\Gateway\\\\Command\\\\VoidPayment\\:\\:execute\\(\\) should be compatible with return type \\(Magento\\\\Payment\\\\Gateway\\\\Command\\\\ResultInterface\\|null\\) of method Magento\\\\Payment\\\\Gateway\\\\CommandInterface\\:\\:execute\\(\\)$#"
			count: 1
			path: Model/Payment/Gateway/Command/VoidPayment.php

		-
			message: "#^Parameter \\#1 \\$message of class Exception constructor expects string, array\\<string, string\\>\\|string given\\.$#"
			count: 1
			path: Model/ShopId.php

		-
			message: "#^Dead catch \\- Exception is never thrown in the try block\\.$#"
			count: 1
			path: Observer/Checkout/ConfigureShopObserver.php

		-
			message: "#^Parameter \\#1 \\$product of method Magento\\\\Quote\\\\Model\\\\Quote\\:\\:addProduct\\(\\) expects Magento\\\\Catalog\\\\Model\\\\Product, Magento\\\\Catalog\\\\Api\\\\Data\\\\ProductInterface given\\.$#"
			count: 1
			path: Service/DigitalWallets/MagentoQuote/Creator.php

		-
			message: "#^Property Bold\\\\CheckoutPaymentBooster\\\\Service\\\\DigitalWallets\\\\MagentoQuote\\\\Creator\\:\\:\\$customerSession \\(Magento\\\\Customer\\\\Model\\\\Session\\) does not accept Magento\\\\Framework\\\\Session\\\\SessionManagerInterface\\.$#"
			count: 1
			path: Service/DigitalWallets/MagentoQuote/Creator.php

		-
			message: "#^Use service contracts to persist entities in favour of Magento\\\\Quote\\\\Model\\\\QuoteIdMask\\:\\:save\\(\\) method$#"
			count: 1
			path: Service/DigitalWallets/MagentoQuote/Creator.php

		-
			message: "#^Use service contracts to persist entities in favour of Magento\\\\Quote\\\\Model\\\\Quote\\:\\:save\\(\\) method$#"
			count: 1
			path: Service/DigitalWallets/MagentoQuote/Deactivator.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(Magento\\\\Quote\\\\Api\\\\Data\\\\TotalsItemInterface\\)\\: mixed\\)\\|null, Closure\\(Magento\\\\Quote\\\\Model\\\\Cart\\\\Totals\\\\Item\\)\\: array given\\.$#"
			count: 1
			path: Service/DigitalWallets/MagentoQuote/TotalsRetriever.php

		-
			message: "#^Parameter \\#1 \\$items of method Magento\\\\Quote\\\\Model\\\\Cart\\\\Totals\\:\\:setItems\\(\\) expects array\\<Magento\\\\Quote\\\\Api\\\\Data\\\\TotalsItemInterface\\>\\|null, array\\<array\\> given\\.$#"
			count: 1
			path: Service/DigitalWallets/MagentoQuote/TotalsRetriever.php

		-
			message: "#^Parameter \\#1 \\$totals of method Magento\\\\Quote\\\\Model\\\\Cart\\\\Totals\\:\\:setTotalSegments\\(\\) expects array\\<Magento\\\\Quote\\\\Api\\\\Data\\\\TotalSegmentInterface\\>, array\\<int\\<0, max\\>, array\\> given\\.$#"
			count: 1
			path: Service/DigitalWallets/MagentoQuote/TotalsRetriever.php

		-
			message: "#^Call to an undefined method Magento\\\\Quote\\\\Api\\\\Data\\\\CartItemInterface\\:\\:getRowTotal\\(\\)\\.$#"
			count: 2
			path: Service/ExpressPay/QuoteConverter.php

		-
			message: "#^Call to an undefined method Magento\\\\Quote\\\\Api\\\\Data\\\\CartItemInterface\\:\\:getRowTotalInclTax\\(\\)\\.$#"
			count: 2
			path: Service/ExpressPay/QuoteConverter.php

		-
			message: "#^Call to an undefined method Magento\\\\Quote\\\\Api\\\\Data\\\\CartItemInterface\\:\\:getTaxAmount\\(\\)\\.$#"
			count: 2
			path: Service/ExpressPay/QuoteConverter.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(Magento\\\\Framework\\\\DataObject\\)\\: bool\\)\\|null, Closure\\(Magento\\\\Quote\\\\Model\\\\Quote\\\\Address\\\\Rate\\)\\: bool given\\.$#"
			count: 1
			path: Service/ExpressPay/QuoteConverter.php

		-
			message: "#^Call to an undefined method Magento\\\\Framework\\\\Api\\\\ExtensibleDataInterface\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: UI/Payment/FastlaneConfigProvider.php

		-
			message: "#^Cannot cast array\\|string to string\\.$#"
			count: 1
			path: UI/PaymentBoosterConfigProvider.php
