<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bold>
                <active>1</active>
                <model>Bold\CheckoutPaymentBooster\Model\Method\Adapter</model>
                <order_status>pending</order_status>
                <title>Bold Payments</title>
                <allowspecific>0</allowspecific>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <sort_order>2</sort_order>
                <group>bold_payments</group>
            </bold>
            <bold_fastlane>
                <active>1</active>
                <model>Bold\CheckoutPaymentBooster\Model\Method\FastlaneAdapter</model>
                <order_status>pending</order_status>
                <title>Credit card</title>
                <allowspecific>0</allowspecific>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <sort_order>1</sort_order>
                <group>bold_payments_fastlane</group>
            </bold_fastlane>
            <bold_wallet>
                <active>1</active>
                <model>Bold\CheckoutPaymentBooster\Model\Method\WalletPayAdapter</model>
                <order_status>pending</order_status>
                <title>Digital Wallets</title>
                <allowspecific>0</allowspecific>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <sort_order>3</sort_order>
                <group>bold_payments_wallet</group>
            </bold_wallet>
        </payment>
        <checkout>
            <bold_checkout_payment_booster>
                <is_payment_booster_enabled>0</is_payment_booster_enabled>
                <is_fastlane_enabled>0</is_fastlane_enabled>
                <payment_title>Credit card</payment_title>
                <fastlane_payment_title>Credit card</fastlane_payment_title>
                <wallet_payment_title>Digital Wallets</wallet_payment_title>
                <is_express_pay_enabled>0</is_express_pay_enabled>
                <is_cart_wallet_pay_enabled>0</is_cart_wallet_pay_enabled>
                <is_product_wallet_pay_enabled>0</is_product_wallet_pay_enabled>
            </bold_checkout_payment_booster>
            <bold_checkout_payment_booster_advanced>
                <api_url>https://api.boldcommerce.com/</api_url>
                <eps_url>https://eps.secure.boldcommerce.com/</eps_url>
                <static_eps_url>https://static-eps.secure.boldcommerce.com</static_eps_url>
                <digital_wallets_quote_cleanup_enabled>0</digital_wallets_quote_cleanup_enabled>
                <digital_wallets_quote_cleanup_frequency>H</digital_wallets_quote_cleanup_frequency>
                <digital_wallets_quote_cleanup_occurrence>1</digital_wallets_quote_cleanup_occurrence>
                <digital_wallets_quote_cleanup_sequence>* * * * *</digital_wallets_quote_cleanup_sequence>
                <digital_wallets_quote_cleanup_retention_period>1</digital_wallets_quote_cleanup_retention_period>
                <use_fallback_observer>1</use_fallback_observer>
            </bold_checkout_payment_booster_advanced>
            <bold_checkout_payment_booster_diagnostic>
                <send_diagnostic></send_diagnostic>
                <cron_enabled>1</cron_enabled>
                <frequency>H</frequency>
                <occurrence>1</occurrence>
                <sequence>0 0 */28 * *</sequence>
            </bold_checkout_payment_booster_diagnostic>
        </checkout>
    </default>
</config>
