<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bold\CheckoutPaymentBooster\Api\PaymentStyleManagementInterface" type="Bold\CheckoutPaymentBooster\Model\PaymentStyleManagement"/>

    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="disable_fastlane_address_validation" type="Bold\CheckoutPaymentBooster\Plugin\Quote\Model\QuoteManagement\DisableFastlaneAddressValidationPlugin" />
    </type>
    <type name="Bold\CheckoutPaymentBooster\Model\Http\Client\RequestsLogger">
        <arguments>
            <argument name="logger" xsi:type="object">Bold\CheckoutPaymentBooster\Model\Http\Client\RequestsLogger\Logger</argument>
        </arguments>
    </type>
    <virtualType name="Bold\CheckoutPaymentBooster\Model\Http\Client\RequestsLogger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Bold\CheckoutPaymentBooster\Model\Http\Client\RequestsLogger\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Bold\CheckoutPaymentBooster\Model\Http\Client\RequestsLogger\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/bold_checkout_payment_booster.log</argument>
        </arguments>
    </virtualType>
</config>
