<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Bold\Checkout\Model\ModuleInfo\InstalledModulesProvider">
        <arguments>
            <argument name="moduleList" xsi:type="array">
                <item name="bold_payment_booster" xsi:type="string">Bold_CheckoutPaymentBooster</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Bold\CheckoutPaymentBooster\Gateway\Config\ValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">Bold\CheckoutFastlane\Model\Payment\Gateway\Config\ConfigValueHandler</item>
                <item name="can_use_checkout" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Config\CanUseCheckoutValueHandler</item>
                <item name="title" xsi:type="string">Bold\CheckoutFastlane\Model\Payment\Gateway\Config\TitleValueHandler</item>
                <item name="active" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Config\IsActiveValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
</config>
