<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="bold_booster_add_public_order_id" type="Bold\CheckoutPaymentBooster\Plugin\Quote\Api\CartRepositoryInterfacePlugin"/>
        <plugin name="bold_booster_add_product_id_to_cart_items" type="Bold\CheckoutPaymentBooster\Plugin\Quote\Api\AddProductIdToCartItemPlugin" sortOrder="20"/>
    </type>

    <type name="Magento\Payment\Model\Checks\CanUseCheckout">
        <plugin name="bold_booster_can_use_checkout_digital_wallets" type="Bold\CheckoutPaymentBooster\Plugin\Payment\Model\Checks\CanUseCheckoutPlugin"/>
    </type>
</config>
