<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <preference for="Magento\Checkout\CustomerData\ItemPoolInterface"
                type="Magento\Checkout\CustomerData\ItemPool"/>
    <type name="Magento\Checkout\CustomerData\ItemPool">
        <arguments>
            <argument name="defaultItemId" xsi:type="string">Magento\Checkout\CustomerData\DefaultItem</argument>
        </arguments>
    </type>
</config>
