<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="bold_payment_booster_config_provider" xsi:type="object">Bold\CheckoutPaymentBooster\UI\PaymentBoosterConfigProvider</item>
                <item name="bold_fastlane_config_provider" xsi:type="object">Bold\CheckoutPaymentBooster\UI\Payment\FastlaneConfigProvider</item>
                <item name="bold_wallet_config_provider" xsi:type="object">Bold\CheckoutPaymentBooster\UI\Payment\WalletPaymentsConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="bold-checkout-data" xsi:type="string">Bold\CheckoutPaymentBooster\CustomerData\BoldCheckoutData</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="bold_booster_add_public_order_id" type="Bold\CheckoutPaymentBooster\Plugin\Quote\Api\CartRepositoryInterfacePlugin"/>
    </type>

    <type name="Magento\Payment\Model\Checks\CanUseCheckout">
        <plugin name="bold_booster_can_use_checkout_digital_wallets" type="Bold\CheckoutPaymentBooster\Plugin\Payment\Model\Checks\CanUseCheckoutPlugin"/>
    </type>

    <type name="Bold\CheckoutPaymentBooster\Plugin\Framework\App\ActionInterfacePlugin">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\ActionInterface">
        <plugin name="bold_booster_customer_id_context" type="Bold\CheckoutPaymentBooster\Plugin\Framework\App\ActionInterfacePlugin" sortOrder="15"/>
    </type>

    <type name="Bold\CheckoutPaymentBooster\Service\DigitalWallets\MagentoQuote\Creator">
        <plugin name="bold_booster_reinit_order_data" type="Bold\CheckoutPaymentBooster\Plugin\Booster\Service\DigitalWallets\MagentoQuote\CreatorPlugin"/>
    </type>
</config>
