<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="bold_payment_booster_config_provider" xsi:type="object">Bold\CheckoutPaymentBooster\UI\Payment\PaymentBoosterConfigProvider</item>
                <item name="bold_fastlane_config_provider" xsi:type="object">Bold\CheckoutPaymentBooster\UI\Payment\FastlaneConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="bold" xsi:type="string">Bold\CheckoutPaymentBooster\CustomerData\CartData</item>
            </argument>
        </arguments>
    </type>
    <type name="Bold\CheckoutPaymentBooster\Model\InitOrderFromQuote">
        <arguments>
            <argument name="orderDataProcessors" xsi:type="array">
                <item name="quote_extension_data" xsi:type="object">Bold\CheckoutPaymentBooster\Model\Order\InitOrderFromQuote\SaveQuoteExtensionData</item>
                <item name="payment_booster" xsi:type="object">Bold\CheckoutPaymentBooster\Model\Order\InitOrderFromQuote\MarkQuoteAsPaymentBooster</item>
                <item name="fastlane" xsi:type="object">Bold\CheckoutPaymentBooster\Model\Order\InitOrderFromQuote\MarkQuoteAsFastlane</item>
            </argument>
        </arguments>
    </type>
</config>
