<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="bold_checkout_payment_booster_onboard" translate="label" sortOrder="-100" showInWebsite="1">
                <frontend_model>Bold\CheckoutPaymentBooster\Block\System\Config\Form\Field\OnboardBanner</frontend_model>
            </group>
            <group id="bold_checkout_payment_booster" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1">
                <label>Bold Checkout Payment Booster Extension</label>
                <field id="api_token" translate="label" type="obscure" sortOrder="10" showInWebsite="1">
                    <label>API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <comment><![CDATA[
                            API token used to communicate with the Bold Checkout APIs. Obtain in the <a target='_blank' href="https://apps.boldapps.net/accounts/welcome">Bold Account Center</a>.
                        ]]>
                    </comment>
                </field>
                <field id="configuration_group_label" translate="label" type="text" sortOrder="15" showInWebsite="1">
                    <label>Configuration Group Label</label>
                    <comment><![CDATA[
                            Configuration group label used to communicate with the Bold Checkout EPS. If left empty, this will default to the store domain.
                        ]]>
                    </comment>
                </field>
                <field id="is_payment_booster_enabled" translate="label" type="select" sortOrder="20" showInWebsite="1">
                    <label>Is Payment Booster Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Use the native checkout with Bold Checkout's payment options.]]></comment>
                </field>
                <field id="payment_title" translate="label" type="text" sortOrder="40" showInWebsite="1">
                    <label>Payment Title</label>
                    <comment><![CDATA[Payment title that will be displayed on the checkout page.]]></comment>
                    <depends>
                        <field id="is_payment_booster_enabled">1</field>
                    </depends>
                </field>
                <field id="is_fastlane_enabled" translate="label" type="select" sortOrder="30" showInWebsite="1">
                    <label>Is Fastlane Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Use PayPal Fastlane Checkout.]]></comment>
                    <depends>
                        <field id="is_payment_booster_enabled">1</field>
                    </depends>
                </field>
                <field id="fastlane_payment_title" translate="label" type="text" sortOrder="40" showInWebsite="1">
                    <label>Fastlane Payment Title</label>
                    <comment><![CDATA[Payment title that will be displayed on the checkout page.]]></comment>
                    <depends>
                        <field id="is_fastlane_enabled">1</field>
                    </depends>
                </field>
                <field id="wallet_payment_title" translate="label" type="text" sortOrder="40" showInWebsite="1">
                    <label>Digital Wallets Title</label>
                    <comment><![CDATA[Title for the Digital Wallets category to display on the checkout page.]]></comment>
                    <depends>
                        <field id="is_payment_booster_enabled">1</field>
                    </depends>
                </field>
                <field id="is_express_pay_enabled" translate="label" type="select" sortOrder="50" showInWebsite="1">
                    <label>Enable Digital Wallets in Express Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Display Digital Wallets above the shipping step.]]></comment>
                    <depends>
                        <field id="is_payment_booster_enabled">1</field>
                    </depends>
                </field>
                <field id="is_cart_wallet_pay_enabled" translate="label" type="select" sortOrder="60" showInWebsite="1">
                    <label>Enable Digital Wallets on Cart Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Display Digital Wallets on your cart page.]]></comment>
                    <depends>
                        <field id="is_payment_booster_enabled">1</field>
                    </depends>
                </field>
                <field id="is_product_wallet_pay_enabled" translate="label" type="select" sortOrder="70" showInWebsite="1">
                    <label>Enable Digital Wallets on Product Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Display Digital Wallets on your product pages.]]></comment>
                    <depends>
                        <field id="is_payment_booster_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="bold_checkout_payment_booster_advanced" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1">
                <label>Bold Checkout Payment Booster Advanced Settings</label>
                <field id="api_url" translate="label" type="text" sortOrder="20" showInWebsite="1">
                    <label>API URL</label>
                    <validate>required-url</validate>
                    <comment><![CDATA[Bold API URL. Do not change.]]></comment>
                </field>
                <field id="eps_url" translate="label" type="text" sortOrder="30" showInWebsite="1">
                    <label>EPS URL</label>
                    <validate>required-url</validate>
                    <comment><![CDATA[Bold EPS URL. Do not change.]]></comment>
                </field>
                <field id="static_eps_url" translate="label" type="text" sortOrder="40" showInWebsite="1">
                    <label>Static EPS URL</label>
                    <validate>required-url</validate>
                    <comment><![CDATA[Bold static EPS URL. Do not change.]]></comment>
                </field>
                <field id="log_enabled" translate="label" type="select" sortOrder="50" showInWebsite="1">
                    <label>Enable Bold Checkout Requests Logs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[ Enable Bold Checkout request logs to help with debugging. ]]></comment>
                </field>
                <field id="export_button" translate="label" type="text" sortOrder="50" showInWebsite="1">
                    <label>Export Log</label>
                    <frontend_model>Bold\CheckoutPaymentBooster\Block\Adminhtml\System\Config\Form\Field\ExportLogButton</frontend_model>
                    <comment><![CDATA[ Export the bold_checkout_payment_booster.log file, located at var/log.]]></comment>
                    <depends>
                        <field id="log_enabled">1</field>
                    </depends>
                </field>
                <field id="enable_sales_order_view_tab" translate="label" type="select" sortOrder="55" showInWebsite="1">
                    <label>Enable Bold Order Info Tab</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[ Enable Bold Order info tab in sales view. ]]></comment>
                </field>
                <field id="use_fallback_observer" translate="label" type="select" sortOrder="55" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Use fallback observers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[ Use fallback observers. ]]></comment>
                </field>
                <group id="digital_wallets_quote_cleanup" translate="label" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Digital Wallets Quote Cleanup</label>
                    <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Enable Digital Wallets Quote Cleanup</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>checkout/bold_checkout_payment_booster_advanced/digital_wallets_quote_cleanup_enabled</config_path>
                        <comment>If "Yes," Digital Wallets quotes older than the configured time period will automatically be deactivated.</comment>
                    </field>
                    <field id="frequency" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Frequency</label>
                        <source_model>Bold\CheckoutPaymentBooster\Model\Config\Source\Frequency</source_model>
                        <backend_model>Bold\CheckoutPaymentBooster\Model\Config\Backend\DigitalWallets\DeactivateQuotes</backend_model>
                        <config_path>checkout/bold_checkout_payment_booster_advanced/digital_wallets_quote_cleanup_frequency</config_path>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="occurrence" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Run Every</label>
                        <validate>validate-digits validate-number-range number-range-1-31</validate>
                        <config_path>checkout/bold_checkout_payment_booster_advanced/digital_wallets_quote_cleanup_occurrence</config_path>
                        <comment>How often to perform the cleanup: 1-23 for hours or 1-31 for days.</comment>
                        <depends>
                            <field id="enabled">1</field>
                            <field id="frequency" separator=",">hourly,daily</field>
                        </depends>
                    </field>
                    <field id="sequence" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Cron Sequence</label>
                        <config_path>checkout/bold_checkout_payment_booster_advanced/digital_wallets_quote_cleanup_sequence</config_path>
                        <comment><![CDATA[See <a href="https://crontab.guru/" target="_blank">Crontab Guru</a> for examples.]]></comment>
                        <depends>
                            <field id="enabled">1</field>
                            <field id="frequency">custom</field>
                        </depends>
                    </field>
                    <field id="retention_period" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Deactivate Quotes Older Than (Hours)</label>
                        <validate>validate-digits validate-number-range number-range-1-24</validate>
                        <config_path>checkout/bold_checkout_payment_booster_advanced/digital_wallets_quote_cleanup_retention_period</config_path>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
