<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="bold_checkout_payment_booster" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1">
                <label>Bold Checkout Payment Booster Extension</label>
                <field id="api_token" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <comment><![CDATA[
                            API token used to communicate with the Bold Checkout APIs. Obtain in the <a target='_blank' href="https://apps.boldapps.net/accounts/welcome">Bold Account Center</a>.
                        ]]>
                    </comment>
                </field>
                <field id="is_payment_booster_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Is Payment Booster Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Use the native checkout with Bold Checkout's payment options.]]></comment>
                </field>
                <field id="is_fastlane_enabled" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Is Fastlane Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Use PayPal Fastlane Checkout.]]></comment>
                    <depends>
                        <field id="is_payment_booster_enabled">1</field>
                    </depends>
                </field>
                <field id="payment_title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Payment Title</label>
                    <comment><![CDATA[Payment title that will be displayed on the checkout page.]]></comment>
                    <depends>
                        <field id="is_fastlane_enabled">1</field>
                    </depends>
                </field>
                <field id="fastlane_payment_title" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Fastlane Payment Title</label>
                    <comment><![CDATA[Payment title that will be displayed on the checkout page.]]></comment>
                    <depends>
                        <field id="is_fastlane_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="bold_checkout_custom_elements" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1">
                <field id="payment_css" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>CSS</label>
                    <backend_model>Bold\CheckoutPaymentBooster\Model\Config\Backend\PaymentCssBackend</backend_model>
                    <comment><![CDATA[Add custom styling to the payment section of your checkout.]]></comment>
                </field>
            </group>
            <group id="bold_checkout_payment_booster_advanced" translate="label" sortOrder="170" showInDefault="1" showInWebsite="1">
                <label>Bold Checkout Extension Advanced Settings</label>
                <field id="api_url" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>API URL</label>
                    <validate>required-url</validate>
                    <comment><![CDATA[Bold API URL. Do not change.]]></comment>
                </field>
                <field id="log_enabled" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1">
                    <label>Enable Bold Checkout Requests Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[ Log Bold Checkout requests in var/log/bold_checkout_payment_booster.log for debugging purposes. ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
